*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.title {
  font-size: 36px;
  font-weight: 400;
  color: #3c4043;
  text-align: center;
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.transition {
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.imgBox {
  width: 12%;
  overflow: hidden;
  border-radius: 5px;

  transition: 0.3s;
}

.img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: 0.6s;
}

.img1 {
  background-image: url('./img1.jpeg');
}

.img2 {
  background-image: url('./img2.jpeg');
}

.img3 {
  background-image: url('./img3.jpeg');
}

.img4 {
  background-image: url('./img4.jpeg');
}

.img5 {
  background-image: url('./img5.jpeg');
}

.img6 {
  background-image: url('./img6.jpeg');
}
